.heroes {
  &__info {
    background-color: #EEE;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    width: 200px;
  }

  &__link {
    color: darken(#EEE, 40%);
    display: inline-block;
    margin: 15px 0;
    text-decoration: none;

    &:hover {
      text-decoration: none;

      .heroes__info {
        background-color: #DDD;
        color: darken(#BBD8DC, 40%);
      }
    }
  }

  &__id {
    background-color: #607D8B;
    border-radius: 4px 0 0 4px;
    color: #FFF;
    margin: 0;
    padding: 15px;
  }

  &__name {
    margin: 0;
    padding: 15px;
  }
}
