<h2 class="hero__title">My Heroes</h2>
<div class="hero__info" *ngFor="let hero of heroes" (click)="onSelect(hero)">
  <label>Name:</label>
  <input class="hero__info-input" [(ngModel)]="hero.name" placeholder="name" />
</div>
<div *ngIf="selectedHero">
  <h2 class="hero__title">{{selectedHero.name.toUpperCase()}}</h2>
  <div class="hero__info">
    <label>ID: {{selectedHero.id}}</label>
  </div>
  <div class="hero__info">
    <label>Name:</label>
    <input class="hero__info-input" [(ngModel)]="selectedHero.name" placeholder="name" />
  </div>
</div>
